{{ define "main" }}
<section id="about" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <hr class="my-4" />
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="mb-4">
          Three Cities is a group of unconventional urbanist with a unique
          understanding of, and approach to, cities. The group is committed to
          helping scholars, foundations, city officials, religious leaders,
          politicians, business people, nonprofits, and residents alike answer
          the question, what does it mean and take to thrive in my city and how
          can i contribute?
        </p>
        <div
          class="embed-reponsive embed-reponsive-16by9 mb-5 material rounded border border-top-0 border-bottom-0 border-warning"
        >
          <iframe
            class="embed-reponsive-item"
            title="Three Cities"
            src="/images/city.mp4"
            width="640"
            height="360"
            frameborder="0"
            allowfullscreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
          ></iframe>
        </div>
        <a
          class="btn btn-yellow btn-xl text-uppercase js-scroll-trigger material"
          href="/contact"
        >
          Get Started
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
