<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">
      <img
        class="rounded img-fluid"
        src="/images/logo-gold-1.png.svg"
        width="40"
        height="40"
        alt="Thriving Cities Logo"
      >
    </a>
    <button
      class="navbar-toggler navbar-toggler-right font-weight-bold"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/city">City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<div class="masthead text-center text-white">
  <video src="/images/city.mp4" autoplay loop playsinline muted></video>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Cape Town, SA</div>
      <div class="intro-heading text-uppercase">It's Time to Thrive!</div>
      <a
        class="btn btn-primary btn-xl text-uppercase js-scroll-trigger material"
        href="/city"
        >Tell Me More</a
      >
    </div>
  </div>
</div>-->