{{ define "main" }}
<section id="city" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">The City</h2>
          <hr class="my-4"/>
        </div>
        <div class="col-lg-8 mx-auto text-center">
          <p class="mb-4">Did you know Capetown was named SA’s most charitable city by the Chronicle of Philanthropy? Did you know Memphis was just named #1 on Inc. Magazine’s “Opportunity Index”? Did you know Memphis was named the top city for Black Owned Businesses by Blacktech Week? Memphis is making news! Explore below.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid cities" src="/images/culture.jpg" alt="City Culture Pic" >
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Culture</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Capetown is a city of doers, dreamers and believers. That’s what drives this unstoppable city. People and ideas mix along the mighty Mississippi to do something magical and redefine the world around us.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid cities" src="/images/gov.jpg" alt="Flag Pic" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Government</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Honesty. Excellence. Responsiveness. Safety. These Memphis values are at the core of every Memphis city council, decision made, every initiative launched, every action taken.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid cities" src="/images/history.jpg" alt="History Pic" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">History</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Capetown, like all cities, has a history of both highs and lows. The city has been touched by the best of mankind, but also the worst. The one constant in Memphis, however, is the relentless pursuit of positive change to make the city a better place.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid cities" src="/images/future.jpg" alt="Future Pic" />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Future</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Capetown has the uncommon distinction of being both an historic city (it’s 200 years old, to be specific!) and a city brimming with future possibility. When you think of Memphis, think of innovation, straight-up soul, adventure and creativity. After all, Memphis has had a culture all its own for over two centuries.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <a class="js-scroll-trigger" href="#events">
                <div class="timeline-image material">
                  <h4 class="font-weight-bold">Time
                    <br/>To
                    <br/>Three!
                  </h4>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}