{{ define "main" }}
<section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <hr class="my-4" />
          <p class="mb-5">Three Cities is for all of the stakeholders working on and for the common good of their cities. For more information or to discuss this further, please do not hesitate to contact us.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mx-auto text-center">
          <a href="mailto:thrivingcities@icloud.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-envelope fa-3x contact-icon mb-3" title="Mail"></i>
          </a>
        </div>
        <div class="col-4 mx-auto text-center">
          <a href="https://www.facebook.com/thrivingcities" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f fa-3x contact-icon mb-3" title="Facebook"></i>
          </a>
        </div>
        <div class="col-4 mx-auto text-center">
          <a href="https://twitter.com/thriving_cities" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter fa-3x contact-icon mb-3" title="Twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}